@{
    ViewBag.Title = "About";
}

<!-- Set your background image for this header on the line below. -->
<section class="intro-header" style="background-image: url('../../Content/img/caralog4.jpg')">
    <div class="container overlay">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About Us</h1>
                    <hr class="small">
                    <span class="subheading">Английский это весело!</span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <p>
                    Cама идея родилась лет 5 назад. Тогда я – Саймон был ещё маленький и глупенький и я
                    просто хотел подрасти и окрепнуть, чтоб стоять рядом с бульдогами Сейчас я умён, креативен и
                    амбициозен и это мой первый шаг в этот увлекательный мир!
                </p>

                <a href="#">
                    <img class="img-responsive" src="../../Content/img/about/about-1.jpg" alt="">
                </a>
                <span class="caption text-muted">В это непростое время Саймон готов работе, как никогда! </span>
                <p>Приходите ко мне в гости, где Вы попьете вкусный чай за приятной беседой на английском🧡</p>
            </div>
        </div>
    </div>
</section>
