
@{
    ViewBag.Title = "Services";
}


<!-- Set your background image for this header on the line below. -->
<section class="intro-header" style="background-image: url('../../Content/img/caralog9.jpg')">
    <div class="container overlay">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>Services</h1>
                    <hr class="small">
                    <span class="subheading">Знать английский не сложно!</span>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Post Content -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                <h2 class="section-heading">Тут будет прайс</h2>

                <p>Английский, немецкий и много чего еще!</p>

                <!-- <blockquote>Proactively envisioned multimedia based expertise and cross-media growth strategies.</blockquote> -->


                <h2 class="section-heading">У нас есть Instagram, где мы публикуем интересный контетн</h2>

                <!-- <p></p> -->


                <p>Скорее заходи  в наш <a href="https://www.instagram.com/mr.simon.academy/?hl=ru">Instagram</a> и развивайся! </p>
            </div>
        </div>
    </div>
</section>
